<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hallo everyone</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>This is template</h1>
    <ul>
      {{#each forums}}
        <li>{{title}}</li>
      {{/each}}
    </ul>
  </body>
</html>
